@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");

/* font: Inter (400, 700), Lexend Deca (400) */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Red+Hat+Display:wght@400&display=swap");

*,
::after,
::before {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

:root {
  --font-i: "Inter", sans-serif;
  --font-l: "Lexend Deca", sans-serif;

  /* (main background) */
  --very-dark-blue: hsl(233, 47%, 7%);
  /* (card background) */
  --dark-desaturated-blue: hsl(244, 38%, 16%);
  /* (accent) */
  --soft-violet: hsl(277, 64%, 61%);
  /* (main heading, stats) */
  --white: hsl(0, 0%, 100%);
  /* (main paragraph) */
  --slightly-transparent-white: hsla(0, 0%, 100%, 0.75);
  /* (stat headings) */
  --slightly-transparent-white: hsla(0, 0%, 100%, 0.6);

  --round: 0.6rem;
  --max-width: 375px;
}

body {
  color: var(--white);
  background: var(--very-dark-blue);
}

main {
  height: 100vh;
}

main,
.card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  flex-direction: column;
  padding: 0 1.5rem;
  text-align: center;
  background: var(--dark-desaturated-blue);
  border-radius: var(--round);
}

.card,
.card header {
  width: 90vw;
  max-width: var(--max-width);
}

.card header {
  margin-bottom: 1.3rem;
  border-radius: var(--round) var(--round) 0 0;
  background-color: var(--soft-violet);
}

.img {
  height: 28vh;
  background: var(--soft-violet) url("images/image-header-mobile.jpg") no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
}

mark {
  color: var(--soft-violet);
  background: none;
}

h1,
h4 {
  letter-spacing: 0.08rem;
}

h1 {
  margin-bottom: 0.3rem;
  font: 700 1.8rem var(--font-i);
}

h2 {
  margin: 0.5rem 0;
  font-family: var(--font-i);
}

h4 {
  margin: 0 0 1.3rem;
  font: var(--font-l);
  font-variant: small-caps;
}

h4:last-child {
  margin-bottom: 2.5rem;
}

p,
h4 {
  color: var(--slightly-transparent-white);
}

p {
  margin-bottom: 2.5rem;
  /* padding: 0 0.5rem; */
  font: 0.938rem/1.5rem var(--font-l);
  letter-spacing: 0.02rem;
}

@media screen and (min-width: 1440px) {
  :root {
    --max-width: 1300px;
  }

  .card {
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 0;
    height: 30rem;
  }

  .card header {
    margin: 0;
    height: 100%;
    border-radius: 0 var(--round) var(--round) 0;
  }

  .img {
    background: var(--soft-violet) url("images/image-header-desktop.jpg")
      no-repeat;
    background-size: cover;
  }

  .card header,
  .card article {
    width: 50%;
  }

  .card article {
    text-align: left;
    padding-left: 4rem;
  }

  h1 {
    margin-bottom: 1.7rem;
    padding-right: 10rem;
    font-size: 2.3rem;
  }

  p {
    margin-bottom: 3.7rem;
    padding-right: 12rem;
  }

  .card article div {
    float: left;
    margin-right: 4.1rem;
  }
}
