@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");

/* font: Inter (400, 700), Lexend Deca (400) */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Red+Hat+Display:wght@400&display=swap");

*,
::after,
::before {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

:root {
  --font-i: "Inter", sans-serif;
  --font-l: "Lexend Deca", sans-serif;

  /* (main background) */
  --very-dark-blue: hsl(233, 47%, 7%);
  /* (card background) */
  --dark-desaturated-blue: hsl(244, 38%, 16%);
  /* (accent) */
  --soft-violet: hsl(277, 64%, 61%);
  /* (main heading, stats) */
  --white: hsl(0, 0%, 100%);
  /* (main paragraph) */
  --slightly-transparent-white: hsla(0, 0%, 100%, 0.75);
  /* (stat headings) */
  --slightly-transparent-white: hsla(0, 0%, 100%, 0.6);
}

body {
  color: var(--white);
  background: var(--very-dark-blue);
}

main {
  height: 100vh;
}

main,
.card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  flex-direction: column;
  text-align: center;
  padding: 0 1.5rem;
  background: var(--dark-desaturated-blue);
  border-radius: 0.5rem;
}

.card header {
  margin-bottom: 1.3rem;
  border-radius: 0.5rem 0.5rem 0 0;
  background-color: var(--soft-violet);
}

.card,
.card header,
header img {
  width: 90vw;
}

header img {
  mix-blend-mode: multiply;
  height: 100%;
}

mark {
  color: var(--soft-violet);
  background: none;
}

h1,
h4 {
  letter-spacing: 0.08rem;
}

h1 {
  margin-bottom: 0.3rem;
  font: 700 1.8rem var(--font-i);
}

h2 {
  margin: 0.5rem 0;
  font-family: var(--font-i);
}

h4 {
  margin: 0 0 1.3rem;
  font: var(--font-l);
  font-variant: small-caps;
}

h4:last-child {
  margin-bottom: 2.5rem;
}

p,
h4 {
  color: var(--slightly-transparent-white);
}

p {
  margin-bottom: 2rem;
  padding: 0 0.5rem;
  font: 0.938rem/1.5rem var(--font-l);
  letter-spacing: 0.02rem;
}
