@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

*,
::after,
::before {
  box-sizing: border-box;
}
html {
  font-size: 100%;
}

:root {
  /* Primary */
  --red: hsl(0, 100%, 74%);
  --green: hsl(154, 59%, 51%);
  /* Accent */
  --blue: hsl(248, 32%, 49%);
  /* Neutral */
  --dark-blue: hsl(249, 10%, 26%);
  --grayish-blue: hsl(246, 25%, 77%);

  --font: "Poppins", sans-serif;
  --border-radius: 0.75rem;
}

body {
  font-family: var(--font);
  background: var(--red) url(images/bg-intro-desktop.png) repeat fixed;
}

main {
  margin: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro {
  margin: 3rem auto;
  max-width: 80vw;
}

.intro h2 {
  font-size: 1.7rem;
  line-height: 2.3rem;
}

.intro p {
  line-height: 1.5rem;
}

.intro,
.cta,
input[type="submit"],
small {
  color: white;
  text-align: center;
}

.cta {
  width: 100%;
  display: block;
  margin-bottom: 1.5rem;
  padding: 1rem 4rem;
  line-height: 1.7rem;
  text-decoration: none;
  background-color: var(--blue);
  box-shadow: 0 8px 0 hsla(249, 10%, 26%, 0.205);
}

.cta,
.form {
  border-radius: var(--border-radius);
}

.form {
  background-color: white;
}

form {
  padding: 1.5rem;
  padding-bottom: 0;
}

input {
  margin-bottom: 0.2rem;
  padding: 0.9rem;
  width: calc(100vw - 6rem);
  border: 1px solid gainsboro;
  border-radius: 0.2rem;
}

input,
.error {
  transition: 0.5s ease-in-out;
}

input::placeholder {
  font-weight: 600;
  font-size: 0.9rem;
}
.border,
input[type="text"]:invalid:not(:focus):not(:placeholder-shown),
input[type="email"]:invalid:not(:focus):not(:placeholder-shown),
input[type="password"]:invalid:not(:focus):not(:placeholder-shown) {
  border-color: var(--red);
}

input:focus,
input:hover {
  outline: none;
  /* border-color: var(--green); */
}

input[type="submit"] {
  margin-bottom: 0;
  width: 100%;
  height: 3.4875rem;
  letter-spacing: 0.06rem;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  border-radius: 0.35rem;
  background-color: var(--green);
  box-shadow: 0 4px 0 #2fbb7e;
}

input[type="submit"]:hover {
  background-color: #77e2b4;
  box-shadow: 0 4px 0 #2fbb7eb6;
}

.error {
  opacity: 0;
  position: relative;
  font-size: 0.7rem;
  color: var(--red);
  text-align: right;
}

.error img {
  position: absolute;
  bottom: 2rem;
  right: 0.5rem;
}
.on,
input[type="text"]:invalid:not(:focus):not(:placeholder-shown) + .error,
input[type="email"]:invalid:not(:focus):not(:placeholder-shown) + .error,
input[type="password"]:invalid:not(:focus):not(:placeholder-shown) + .error {
  margin-bottom: 1rem;
  opacity: 1;
}

p small {
  display: block;
  padding: 0 3rem 2rem;
  font-size: 0.7rem;
  line-height: 1.5rem;
  color: var(--grayish-blue);
}

p small a {
  font-weight: 700;
  text-decoration: none;
  color: var(--red);
}

@media screen and (min-width: 1200px) {
  main {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: left;
    height: 100vh;
    width: 70vw;
  }

  .intro {
    margin: 0 auto;
    max-width: 30vw;
    text-align: left;
  }

  .intro h2 {
    font-size: 3rem;
    line-height: 3.5rem;
  }

  div .form,
  div form {
    width: auto;
  }

  input{
    width: 100%;
  }
}